body{
    margin: 0px;


}
h1{
    color: rgb(226, 112, 135);
    font-size: 50px;
    background-color: teal;
  
}
.grid1{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 500px;
    grid-gap:2px;
    
    
}
.gridie{
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    font-size: 60px;
}
.addbutton{
    background-color: black;
    text-align: center;
    color: blanchedalmond;
  
}
.addbutton a:hover{
    background-color: chartreuse;
    color: black;
}
.addbutton a{
    text-decoration: none;
    color: blanchedalmond;
}
.p5{
    float: left;
}
.newcartbutton{
    background-color: crimson;
    color: cyan;
    float: right;
    margin-right: 450px;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
.newcartbutton:hover{
    background-color: black;
    color: darkkhaki;
}
.sale{
    text-align: center;
    font-size: 30px;
    border: 10px solid black;
}
.saleim{
  
    width: 400px;
    height: 400px;
}
.newcartbutton a{
    text-decoration: none;
    color: oldlace;
}
.head{
    
    background-color: palegoldenrod;
    font-size: 50px;
}
.pi{
    float: left;
    padding: 10px 10px 10px 10px;
    
}
.profilepara{
    font-size: 20px;
}
@media (max-width: 760px) {
    .grid1{
        display: grid;
        background-color: white;
        grid-template-columns: 500px;
        grid-template-rows: 500px 500px 500px 500px;
        grid-gap:2px;
        
        
    }
    .p5{
    
        float: left;
        width: 100px;
    }
    .saleim{
  
        width: 200px;
        height: 200px;
    }
    .myh2{
        font-size: 40px;
        text-align: left;
    }
    .myh3{
        font-size: 20px;
        text-align: left;
    }

    
    
    
}
@media (max-width: 480px) {
    .grid1{
        display: grid;
        background-color: white;
        grid-template-columns: 300px;
        grid-template-rows: 250px 250px 250px 250px;
        grid-gap:2px;
        
        
    }
    .p5{
    
        float: left;
        width: 80px;
    }
    .saleim{
  
        width: 170px;
        height: 170px;
    }
    .myh2{
        font-size: 40px;
        text-align: left;
    }
    .myh3{
        font-size: 20px;
        text-align: left;
    }
    .p1,.p2,.p3,.p4{
        width: 200px;
        height: 100px;
    }
    .addbutton{
        background-color: black;
        text-align: center;
        color: blanchedalmond;
        font-size: 20px;
      
    }
    .ph1{
        font-size: 30px;
    }
    .newcartbutton{
        background-color: crimson;
        color: cyan;
        float: none;
        margin-right: 0px;
        margin-left: 20px;
        font-size: 30px;
        padding-right: 0px;
        padding-left: 10px;
    }
    .pi{
        width: 100px;
    }
    
    
    
}
