*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: rgb(24, 23, 23);
    text-align: center;
    font-size: 100px;
    color: blanchedalmond;
    padding: 20px 20px;
    font-family: fantasy;
}

    .navbar{
    display: grid;
    padding-left: 4px;
    background-color: rgb(149, 153, 155);
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 50px;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bolder;
    grid-gap: 4px;
}
.abc{
    border: 1px solid rgb(150, 153, 155);
    border-radius: 7px;
}
.navelement1{
    background-color: rgb(240, 250, 194);
}
.navelement2{
    background-color: rgb(245, 208, 228);
}
.navelement3{
    background-color: rgb(247, 214, 214);
}
.navelement4{
    background-color: rgb(243, 147, 179);
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: rgb(9, 12, 9);
    padding-top: 5px;
}
nav a:hover{
    background-color: rgb(5, 15, 14);
    color: burlywood;
}
.midpart{
    display: grid;
    grid-template-columns: 300px 650px 280px;
    grid-template-rows: 600px 200px 200px;
    grid-gap:8px;
    background-color: rgb(209, 199, 199);
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
    

}
.midelement{
    border: 2px solid rgb(172, 169, 169);
    background-color: rgb(172, 169, 169);

}
#pro{
     margin: 10px;
    padding: 10px 50px 10px 50px;
    font-size: large;
    background-color: rgb(78, 88, 78);
    color: white;
}
.doim{
    padding-top: 10px;
    padding-left: 6px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 5px solid rgb(228, 140, 140);
    border-radius: 10px;
    margin: 10px;
  
}
.expand{
    grid-row-start: 1;
    grid-row-end: 3;
}
.mid2,.mid3,.mid5 {
    color: rgb(15, 7, 7);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
  
}
.mid2 p{
    font-family: cursive;
    font-size: 30px;
}
.midimage{
    float: left;
}
.midbutton{
    padding: 10px 10px 10px 10px;
    background-color: rgb(247, 118, 33);
    margin: 40px;
    font-size: 30px;
}
.midbutton a{
    text-decoration: none;
}
.midbutton:hover{
    background-color: yellow;
}
.di{
    padding-top: 10px;
    padding-left: 6px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 5px solid rgb(142, 240, 118);
    border-radius: 50%;
    margin: 10px;
}
.gobutton {
    margin: 70px;
    font-size: 60px;
    background-color: wheat;
   
}
.gobutton:hover{
    background-color: yellow;
}
.gobutton a{
    text-decoration: none;
}
.mid4{
    color: rgb(15, 7, 7);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    background-color: rgba(243, 63, 63, 0.979);
    grid-column-start: 2;
    grid-column-end: 4;
}
.salepara{
    font-size: 20px;
    color: yellow;
}
.saleimage{
    float: left;
}
.salebutton{
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
    background-color: teal;
}
.salebutton a:hover{
    background-color: yellow;
}
.salebutton a{
    text-decoration: none;
    color: black;
}
.fa-youtube{
    color: red;
    
}
.fa-facebook{
    color: blue;
    
}
.fa-instagram{
    color: rgb(230, 46, 184);
    
}
.mid5{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
.bigimage{
    
    padding-bottom: 600px;
    background-image: url("../images/favicon2.jpg");
    background-size: 100% 100%;
    width: 100%;
    
}
.bigfont{
    font-size: 90px;
    font-family: 'Dancing Script', cursive;
}
.bigfont2{
    font-size: 40px;
    font-family: 'Monoton', cursive;
}
#button1{
    margin-left: 40px;
    background-color: crimson;
    padding: 10px 30px 10px 30px;
    border: none;
    font-size: 50px;
    
    border-radius: 10px;
}
#button1 a{
    text-decoration: none;
    color: bisque;
}
@media (max-width: 760px){
    .midpart{
        grid-template-columns: 200px 200px 100px 200px;
        grid-template-rows: 700px 700px 700px 300px 700px;
    }
    .mid1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .mid2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

    }
    .mid3{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

    }
    .mid4{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;

    }
    .mid5{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;

    }
    .midimage{
        float: none;
    }
    .midbutton{
        padding: 10px 10px 10px 10px;
        background-color: rgb(247, 118, 33);
       
        font-size: 30px;
    }
  
}


